<VirtualHost *:{{ httphost.port }}>
        ServerAdmin stappers@stappers.it
        ServerName {{ httphost.name }}

        DocumentRoot {{ documentroot.path }}
        <Directory />
                Options FollowSymLinks
                AllowOverride FileInfo
                Require all granted

		RewriteEngine On
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule ^(.*)$ /index.php?$1 [L]
        </Directory>
        <Directory {{ documentroot.path }}/>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride FileInfo
                Require all granted

		RewriteEngine On
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule ^(.*)$ /index.php?$1 [L]
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        CustomLog ${APACHE_LOG_DIR}/{{ httphost.name }}.access.log combined

</VirtualHost>
