#!/bin/bash
#
#   lastest lugwiki database dump to webserver
#
DP=/var/lib/automysqlbackup/latest # dump place, where to look
DBN={{ database.export }}  # database name
LD=$( ls -tr ${DP}/${DBN}* | tail -n 1 ) # lastest dump
#
#
DR={{ documentroot.path }}  # document root
WSD=${DR}/dbd # database dump (directory)
FN={{ database.schema }}.sql.gz # filename
INFO=${WSD}/info.txt
#
#
cp -p ${LD} ${WSD}/${FN}
chmod  a+r  ${WSD}/${FN} # world readable on the weserver
#
echo "# some information about database dump" > ${INFO}
echo "#" >> ${INFO}
#
echo "# some information about database dump" > ${INFO}
echo "#" >> ${INFO}
echo -n "name=" >> ${INFO}
echo ${FN} >> ${INFO}
echo "#" >> ${INFO}
echo "# checksums " >> ${INFO}
echo -n "# " >> ${INFO}
md5sum ${LD} >> ${INFO}
echo -n "# " >> ${INFO}
sha1sum ${LD} >> ${INFO}
echo -n "# " >> ${INFO}
sha256sum ${LD} >> ${INFO}
#
#
cp -p ${0} ${WSD}  # this script also public
#
echo "# " >> ${INFO}
echo "# script name: " >> ${INFO}
echo "# ${0}" >> ${INFO}
#
# l l
