server {
        listen {{ httphost.port }};
        listen [::]:{{ httphost.port }};

	root {{ documentroot.path }} ;
	index index.php index.html index.htm ;

	server_name
            {{ httphost.name }}
            # aliases
            dblug.nl
            lug.project073.nl
        ;

	# client_max_body_size 8m;

	location ^~ /dbd { } # serve DataBaseDump files

	location / {
		try_files $uri $uri/ @rewrite;
	}
 
	location @rewrite {
		rewrite ^/(.*)$ /index.php?title=$1&$args;
	}

	# pass the PHP scripts to FastCGI server listening on socket
	location ~ \.php$ {
		try_files $uri =404;
		fastcgi_pass unix:/run/php/php7.0-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include fastcgi_params;
	}

}
