#
#  rsyncd.conf - configuration file for rsync in daemon mode
#  `man 5 rsyncd.conf`
#
#
# GLOBAL PARAMETERS
#
pid file = /var/run/rsyncd.pid
log file = /var/log/rsyncd.log
syslog facility = deamon
uid = root
#
#
# MODULES
#
[p073lugwiki]
path = {{ documentroot.path }}
comment = Project073 mediawiki files, PHPcode plus data
outgoing chmod = ugo+rX
exclude = dbd/**
# FYI: dbd = database dump
#
#
# P.S.
# Als het goed is, staat de regel
#   /usr/bin/rsync --daemon --config /etc/rsyncd.conf
# in /etc/rc.local

# l l
