#!/bin/sh
#
# save e-mail addresses separately
mysqldump \
  --user={{ database.username}} \
  --password={{ database.password}} \
  {{ database.schema}} \
    user \
    > /var/backups/{{ database.schema }}/user.sql
#
# copy to export datatbase
mysqldump \
   --user={{ database.username}} \
   --password={{ database.password}} \
   {{ database.schema}} \
   | mysql \
     --user={{ database.export }}user \
     --password={{ database.export }}passWD \
     {{ database.export }}
#
# anonimyze e-mail addresses in the export database
mysql \
  --user={{ database.export }}user \
  --password={{ database.export }}passWD \
  {{ database.export }} << HERE
update user
set user_email = sha2(user_email,256)  -- encrypt
where instr(user_email,'@') > 0        -- but only once
HERE

# l l
